<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img class="user-img" [src]="profile?.image" alt="avatar"
                        onerror="this.src='https://static.productionready.io/images/smiley-cyrus.jpg'">
                    <h4>{{profile?.username}}</h4>
                    <p></p>
                    <button class="btn btn-sm action-btn btn-outline-secondary" *ngIf="profile.username!==current_user">
                        <i class="ion-plus-round"></i> &nbsp;
                        <ng-container *ngIf="profile.following">Follow</ng-container>
                        <ng-container *ngIf="!profile.following">Unfollow</ng-container>
                        {{profile?.username}}
                    </button>
                    <a *ngIf="profile.username===current_user" routerLink="/settings" class="btn btn-sm btn-outline-secondary action-btn">
                        <i class="ion-gear-a"></i> Edit Profile Settings 
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a 
                                class="nav-link"
                                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                [routerLink]="['/profile', profile?.username]">
                                My Posts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLink]="['/profile', profile?.username,'favorites']">
                                Favorited Posts
                            </a>
                        </li>
                    </ul>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>