<div class="article-page">
    <div class="banner">
        <div class="container">
            <h1>{{article.title}}</h1>
            <div class="article-meta">
                <a [routerLink]="['/profile', article.author?.username]">
                    <img [src]="article.author?.image" alt="avatar">
                </a>
                <div class="info">
                    <a class="author" [routerLink]="['/profile', article.author?.username]">
                        {{article.author?.username}}
                    </a>
                    <span class="date"> {{article.createdAt | date:'MMMM dd, yyyy'}} </span>
                </div>
                <span *ngIf="current_user?.username===article.author?.username" class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', article.slug]">
                        <i class="ion-edit"></i> Edit Article
                    </a>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteArticle(article.slug)">
                        <i class="ion-trash-a"></i> Delete Article
                    </button>
                </span>
                <ng-container *ngIf="current_user?.username!==article.author?.username">
                    <div class="btn-group">
                        <button 
                            class="btn btn-sm action-btn btn-outline-secondary"
                            (click)="followClicked(article.author.username, article.author.following)">
                            <i class="ion-plus-round"></i> &nbsp;
                            <ng-container *ngIf="!article.author?.following">Follow</ng-container>
                            <ng-container *ngIf="article.author?.following">Unfollow</ng-container>
                            {{article.author?.username}}
                        </button>
                        <button 
                            [ngClass]="article.favorited?'btn-primary':'btn-outline-primary'"
                            class="btn btn-sm"
                            (click)="favoriteClicked(article)">
                            <i class="ion-heart"></i> Favorite Article ({{article.favoritesCount}})
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                <div *ngIf="article.body" [innerHTML]="article.body | markdown">
                </div>
                <div class="tag-list">
                    <ng-container *ngFor="let tag of article.tagList">
                        <a class="tag-default tag-pill tag-outline">{{tag}}</a>
                    </ng-container>
                </div>
            </div>
        </div>
        <hr>
        <div class="article-actions">
            <div class="article-meta">
                <a [routerLink]="['/profile', article.author?.username]">
                    <img [src]="article.author?.image" alt="avatar">
                </a>
                <div class="info">
                    <a class="author" [routerLink]="['/profile', article.author?.username]">
                        {{article.author?.username}} </a>
                    <span class="date"> November 20, 2020 </span>
                </div>
                <span *ngIf="current_user?.username===article.author?.username" class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', article.slug]">
                        <i class="ion-edit"></i> Edit Article
                    </a>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteArticle(article.slug)">
                        <i class="ion-trash-a"></i> Delete Article
                    </button>
                </span>
                <ng-container *ngIf="current_user?.username!==article.author?.username">
                    <div class="btn-group">
                        <button
                            class="btn btn-sm action-btn btn-outline-secondary"
                            (click)="followClicked(article.author.username, article.author.following)">
                            <i class="ion-plus-round"></i> &nbsp;
                            <ng-container *ngIf="!article.author?.following">Follow</ng-container>
                            <ng-container *ngIf="article.author?.following">Unfollow</ng-container>
                            {{article.author?.username}}
                        </button>
                        <button
                            [ngClass]="article.favorited?'btn-primary':'btn-outline-primary'"
                            class="btn btn-sm"
                            (click)="favoriteClicked(article)">
                            <i class="ion-heart"></i> Favorite Article ({{article.favoritesCount}})
                        </button>
                    </div>
                </ng-container>
                <span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <div>
                    <div class="col-xs-12 col-md-8 offset-md-2" *ngIf="!is_logged_in">
                        <div>
                            <a routerLink="/login">Sign in</a> or <a routerLink="/register">sign up</a> to add comments on this article. 
                        </div>
                    </div>
                    <!-- add comment -->
                    <form class="card comment-form" *ngIf="is_logged_in">
                        <fieldset>
                            <div class="card-block">
                                <textarea class="form-control" name="comment" placeholder="Write a comment..." rows="3" [(ngModel)]="comment_body"></textarea>
                            </div>
                            <div class="card-footer">
                                <img class="comment-author-img" [src]="article.author?.image" alt="avatar">
                                <button class="btn btn-sm btn-primary" (click)="addComment(article?.slug)"> Post Comment </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- comments -->
                <app-article-comment [slug]="article?.slug"></app-article-comment>
            </div>
        </div>
    </div>
</div>